<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href = "{% url 'First:my_index'  %}">Home </a>
    <a href = "{% url 'Login:logout'  %}">Logout </a>

    {% for trips in trip %}
    <h1> {{trips.destination}}</h3>
    <h3> Planned By: {{trips.creator.first_name}} {{trips.creator.last_name}}
    <h3> Travel Date From: {{trips.date_from}} </h3>
    <h3> Travel Date To: {{trips.date_to}}</h3>

      {%endfor %}
      <br>
    <h1> Other user' joining the trip </h1>
    {% for othersgoing in trip %}
    <h3>
      {% for name in othersgoing.traveller.all %}
      {% for creator in trip %}
        {% if name.id != creator.creator.id %}
        {{name.first_name}} {{name.last_name}}
        {% endif %}
        {% endfor %}
      {% endfor %}
    </h3>
    {% endfor %}
  </body>
</html>
